:root {
  --dark5: #123456;
  --dark4: #234567;
  --mid3: #345678;
  --light2: #456789;
  --light1: #fdfeff;
}
body {
  background:url("./images/giphybg.jpeg");
  padding: 0;
  margin: 0;
}
.content {
  color:var(--dark5);
}
.header {
  color: var(--light1);
  background-color: var(--dark5);
  width: 100%;
}\	

#frm{
  width: 100%;
  background-color: var(--dark5);
  align-content: center;
}
.gifs{
  background-color: var(--dark5);
  float: left;
}
.adds{
  align-content: center;
  padding: 25%;
  margin: 20%;
  background-color: var(--dark4);
  opacity:0.9;
}
.gif{
  height: 10em;
  width: auto;
}