:root {
  --dark5: #123456;
  --dark4: #234567;
  --mid3: #345678;
  --light2: #456789;
  --light1: #fdfeff;
}
body {
  background:url("./images/giphybg.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  padding: 0;
  margin: 0;
}
.content {
  color: white;
}
.header {
  color: var(--light1);
  background-color: var(--dark5);
  float: left;
}
#buttonCat {
  color: var(--light1);
display: inline-block;
  background-color: var(--dark5);
 
}
#adder {
  color: var(--light2);
  background-color: var(--dark4);
  
}
#input {
  color: white;
  background-color: var(--dark4);

  margin: 2.5em;
}
#btn-add {
  color: var(--dark4);
  background-color: var(--light1);
}
