:root {
  --dark5: #123456;
  --dark4: #234567;
  --mid3: #345678;
  --light2: #456789;
  --light1: #56789f;
}
body {
  background-color: var(--light1);
}
.content {
  color: white;
}
.header {
  color: var(--light1);
  background-color: var(--dark5);
}
#buttonCat {
  color: var(--light1);
  background-color: var(--dark5);
  float: left;
}
#adder {
  color: var(--light2);
  background-color: var(--dark4);
  float: right;
}
#input {
  color: white;
  background-color: var(--dark4);
  height: 50px;
  margin: 1em;
}
#btn-add {
  color: var(--dark4);
  background-color: var(--light1);
}
